  <meta charset="utf-8">
  <title>{{site.course.name}}: {{page.title}}</title>

  <!--Set the viewport to handle responsive design-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="{{ site.course.instructor.name }}">
  <meta name="description" content="{{ site.course.description }}">

  <!-- Stylesheets. Note that screen.css imports Bootstrap. -->
  <link rel="stylesheet" media="screen" href="{{site.github_url}}/assets/css/screen.css">
  <link rel="stylesheet" media="print" href="{{site.github_url}}/assets/css/print.css">

  <!--jQuery & Twitter Bootstrap JavaScript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
    <script src="{{site.github_url}}/assets/js/html5.js"></script>
  <![endif]-->
