<!DOCTYPE html>
<html lang="en">
<head>
  {% include sitewide_head.html %}
</head>
<body class="bottom_header container-fluid">

<div id="bg" class="container-fluid">
<div id="fg" class="container-fluid foreground col-xs-10 col-xs-offset-1">
<a class="sr-only sr-only-focusable" href="#navbarNav">Jump to site menu</a>

  <article class="col-md-8 col-md-offset-2 foreground">
    <section id="content">
      {{content}}
    </section>

  </article>
</div> <!-- /#fg -->
</div> <!-- /#bg -->

{% include nav_bottom.html %}

<footer>
  {% include credits_and_license.html %}
</footer>

<!--jQuery & Twitter Bootstrap JavaScript-->
<script type="javascript" src="{{site.github_url}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="javascript" src="{{site.github_url}}/assets/js/bootstrap.js"></script>

</body>
</html>
