<!DOCTYPE html>
<html lang="en">
<head>
  {% include sitewide_head.html %}
</head>
<body class="thin_header container-fluid">
<div id="bg" class="container-fluid">
  {% include nav_top.html %}

<div id="fg" class="container-fluid foreground px-lg-5 px-md-2 px-sm-1">

  <article class="col-md-8 col-md-offset-2" id="content">

      {{content}}

  </article>
</div> <!-- /#fg -->
</div> <!-- /#bg -->
<footer>
  {% include credits_and_license.html %}
</footer>


<!-- <script>
$(document).ready(function(){
  $(".navbar-toggler").click(function(){
    $(".navbar-toggleable").collapse('toggle');
  });
});
</script> -->

</body>
</html>
